@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

.content_first_block {
  background: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 180px;
    width: 1024px;
  }

  .header_logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
  }

  ul {
    list-style-type: none;
    gap: 24px;
    display: flex;
    padding: 0;
  }

  a {
    color: #E7E5EB;
    text-decoration: none;
    font-size: 18px;
  }

  .container {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 80px 180px;
    padding-bottom: 130px;
    width: 1024px;
  }

  .content_title {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
    width: 350px;
  }

  .content_subtext {
    color: #E7E5EB;
    font-size: 18px;
    width: 450px;
    margin-bottom: 16px;
  }

  button {
    color: #E7E5EB;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
	  outline: none;
    font-weight: bold;
    padding: 8px 32px;
    font-size: 18px;
  }

  .image_placeholder {
    color: #E7E5EB;
    font-size: 18px;
    background-color: rgb(140, 153, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
  }

  .info_title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    padding: 50px;
  }

  .container_info {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 125px;
  }

  .info_pic {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
  }

  .info_text {
    width: 150px;
    text-align: center;
    color:#1F2937;
    padding-top: 8px;
  }

  .content_third_block {
    display: flex;
    flex-direction: column;
    padding: 125px;
    background-color: #e5e7eb;
    align-items: center;
  }

  .quote {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    width: 820px;
  }

  .quote_author {
    display: flex;
    color: #1F2937;
    font-weight: 800;
    width: 820px;
    justify-content: flex-end;
    font-size: 24px;
  }

  .content_fourth_block {
    display: flex;
    flex-direction: column;
    padding: 125px;
    align-items: center;
  }

  .container_action {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
	  outline: none;
    width: 1024px;
    justify-content: space-between;
  }

  .action_order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
  }

  .action_title {
    color: #E7E5EB;
    font-size: 24px;
    font-weight: 800;
  }

  .action_text {
    color: #E7E5EB;
  }

  .bottom_button {
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    align-self: center;
    margin: 0 100px;
    font-weight: bold;
    font-size: 18px;
  }