@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

.header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 180px;
  }

  .header_logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    gap: 24px;
    display: flex;
    padding: 0;
  }

  a {
    color: #E7E5EB;
    text-decoration: none;
    font-size: 18px;
  }

  .content_first_block {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 80px 180px;
  }

  .content_title {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
    width: 350px;
  }

  .content_subtext {
    color: #E7E5EB;
    font-size: 18px;
    width: 450px;
  }

  button {
    color: #E7E5EB;
    background-color: rgb(59, 114, 233);
    border-radius: 8px;
    border: none;
	outline: none;
    font-weight: bold;
    margin: 16px 0;
    padding: 8px 32px;
    font-size: 18px;
  }

  .image_placeholder {
    color: #E7E5EB;
    font-size: 18px;
    background-color: rgb(140, 153, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
  }